
html,body {
    height:100%;
}
body{
	font-family: "Mona Sans", sans-serif;
	overflow: hidden;
}

.main{
	height: 100%
}
.main .header{
	position: fixed;
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
    padding: 20px 15px;
    height: 65px;
    box-shadow: 0 0 11px #cdcdcd;
}
.main .header .title{
    font-weight: bold;
    color: #444;
    display: flex;
    align-items: center;
}
.main .inner{
	display: flex;
	padding-top: 65px;
	height: 100%;
}

.sidebar{
	width: 280px;
    align-self: start;
    min-height: 100%;
    background: #ffffff;
    overflow-y: scroll;
    border-right: 1px solid #cdcdcd;
    padding: 5px 10px;
}
.sidebar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.sidebar a{
 	text-decoration: none;
 	color: #333;
 	display: flex;
 	align-items: center;
}
.sidebar a:before{
    content: '';
    background-color: #fff;
    display: block;
    height: 24px;
    width: 4px;
    margin-right: 5px;
    border-radius: 2px;
}
.sidebar a span{
	display: block;
	width: 100%;
 	padding: 5px 10px;
    border-radius: 4px;
}
.sidebar a:hover span{
    background-color: #eee;
}
.sidebar a:hover::before{
    background-color: #fff;
}

.sidebar a.active::before{
    background-color: #3F51B5;
}

.sidebar a.active span{
    background-color: #eee;
}

.content{
	flex: 1;
	overflow-y: scroll;
	padding: 15px;
}
