
html,body {
    height:100%;
}
body{
	font-family: "Mona Sans", sans-serif;
	overflow: hidden;
	color: #222;
}
img{
	max-width: 100%;
	height: auto;
}
.main{
	height: 100%
}
header{
	position: fixed;
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
    top: 0;
    left: 0;
    z-index: 997;
    background-color: #fff;
    padding: 20px 15px;
    height: 65px;
    box-shadow: 0 0 11px #cdcdcd;
}
header .title{
    font-weight: bold;
    color: #222;
    display: flex;
    align-items: center;
}
header .title span{
    display: flex;
    align-items: center;
}

header .bars,
.sidebar .header .close{
	display: none;
	border: 1px solid #d3d3d3;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 4px;
    font-size: 22px;
    cursor: pointer;
}
header .bars:hover{
    background-color: #e1e1e1;
}


.main .inner{
	display: flex;
	padding-top: 65px;
	height: 100%;
}

.sidebar{
	width: 280px;
    align-self: start;
    min-height: 100%;
    background: #ffffff;
    border-right: 1px solid #cdcdcd;
}
.sidebar .header{
	display: none;
	align-items: center;
	justify-content: flex-end;
}
.sidebar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.sidebar a{
 	text-decoration: none;
 	color: #333;
 	display: flex;
 	align-items: center;
}
.sidebar a:before{
    content: '';
    background-color: #fff;
    display: block;
    height: 24px;
    width: 4px;
    margin-right: 5px;
    border-radius: 2px;
}
.sidebar a span{
	display: block;
	width: 100%;
 	padding: 5px 10px;
    border-radius: 4px;
}
.sidebar a:hover span{
    background-color: #eee;
}
.sidebar a:hover::before{
    background-color: #fff;
}

.sidebar a.active::before{
    background-color: #3F51B5;
}

.sidebar a.active span{
    background-color: #eee;
}

.content{
	flex: 1;
	overflow-y: scroll;
	padding: 15px;
}



.blur-layer{
	z-index: 998;
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgb(0 0 0 / 8%);
}

@media(max-width:991px){
	.sidebar{
		position: fixed;
		top: 0;
		right: -100%;
		z-index: 999;
		border-right: 0;
		box-shadow: 0 0 10px #9b9b9b;
		-webkit-transition: 500ms cubic-bezier(0.858, 0.01, 0.068, 0.99);
		-o-transition: 500ms cubic-bezier(0.858, 0.01, 0.068, 0.99);
		transition: 500ms cubic-bezier(0.858, 0.01, 0.068, 0.99);
	}
	.sidebar .header{
		display: flex;
		border-bottom: 1px solid #bcbcbc;
        height: 65px;
	}
	.sidebar .header .close{
		display: flex;
		margin-right: 5px;
	}
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	header .bars{
		display: block;
	}
	header .bars{
        display: flex;
	}

	html.menu-active .blur-layer{
		display: block;
	}
	html.menu-active .sidebar{
		right:0;
	}
}
